header(role="header" id="header")
  nav.navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header
        p.navbar-text Events Scraper
      ul.nav.navbar-nav.navbar-right
        li
          a(href="https://github.com/AndrewSouthpaw/Coding-Challenge---LG") GitHub
