
.layout-selector button
  margin: 5px

.event-card-list
  border-top: 3px solid #17baef

.event-card-grid
  border: 3px solid #17baef
  border-radius: 15px
  float: left
  width: 300px
  height: 300px
  margin: 5px

.event-image
  display: inline-block
  img
    width: 100px

.event-content
  display: inline-block
  margin: 20px
