body
  height: 100%
  padding-top:80px
  background-color: white

.navbar
  .user-avatar
    a
      padding: 0px
    img
      position: relative
      max-width: 50px
      top: 5px

  .navbar-brand
    img
      position: relative
      max-height: 65px
      top: -8px

    background-color:transparent
    padding:0px
    border-radius:4px
    margin-top: 3px

  .container
    width: 95%
    border: none
    background-color: transparent
    padding: 10px 0px
    margin: 0px 20px

  background-color: #17baef
  border: solid black 0px

.navbar-default
  .navbar-text
  .navbar-nav > li > a
    margin: 0
  .navbar-text
    color: #fff
    font-size: 28px
    padding: 10px
  .navbar-nav > li > a
    color: #0a7396
    font-size: 18px
    padding: 20px 15px

.content
  padding: 0 10px 10px 10px
  border-radius:15px

.container-fluid
  background-color:#ECF0F1
  border-radius:15px
  padding:10px
  margin-left:14px
  padding-left:15px
  margin-top:14px
  margin-right:14px

.container
  padding-left:4%
  padding-right:4%
  padding-bottom:4%
  padding-top:4%
  border-radius: 15px
