form(ng-submit="vm.scrapeEventsPage()")
  .input-group
    span.input-group-addon.glyphicon.glyphicon-search(id="basic-addon1")
    input.form-control(type="text" placeholder="http://www.eventbrite.com"
                       ng-model="vm.url")
